* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
}

/* Header */

header h1 {
  font-weight: 600;
  font-size: 50px;
  color: white;
}

header p {
    color: cornflowerblue;
    font-size: 16px;
    text-decoration: underline;
}

/* App Content */

h2 {
    color: white;
    font-size: 42px;
    font-weight: normal;
}

.phone {
    margin-bottom: 10px;
    margin-top: 40px;
}
